.hero {
    background-image:url("./1.jpg");
    height :2000px;
    background-size:cover;
    background-position:center;
    position: relative;

    display:flex;
    justify-content:center;
    flex-wrap:wrap;

    align-items:flex-start;

    background-attachment: fixed;
    background-position: 80%;
}

    /*Hero Style End*/
    .hero-cta {
    width:100%;
    text-align:center;
    color:#fff;
    font-size:18px;
    line-height:1.2;
    position:absolute;
    top:0;
    }

.hero-cta h2 {
    font-style:italic;
    font-size:55px;
    color:white;
   
}
.hero-cta p {
    font-style:italic;
    font-size:30px;
    color:white;
   
}